.git
.gitignore
.env
.env.*
!.env.example

src/.env
src/.env.*
!src/.env.example
src/vendor
src/node_modules
src/database/*.sqlite*
src/public/build
src/public/hot
src/public/storage
src/storage/logs
src/storage/framework/cache/data
src/storage/framework/sessions
src/storage/framework/testing
src/storage/framework/views

docker-compose*.yml
README.md
AGENTS.md
